BITECODE_APP_CONFIRM_EMAIL_URL_PATH=/verify-account
BITECODE_APP_RESET_PASSWORD_URL_PATH=/reset-forgot-password
BITECODE_APP_USER_INVITE_URL_PATH=/register
BITECODE_JWT_ACCESS_TOKEN_EXP=900000
BITECODE_JWT_SHORT_REFRESH_TOKEN_EXP_MINUTES=10080
BITECODE_JWT_REMEMBER_DEVICE_REFRESH_TOKEN_EXP_MINUTES=525600
DEMO_INSERTS_USERS_PASSWORD=test123
